.projectsContainer {
  width: 100%;
  background: #2b4f60;
  height: 100%;
}

h1 {
  margin: 20px;
}
.resume {
  margin: 0 auto;
  width: 500px;
}

.projectList {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f5f5f5;
}
